<a href="https://colab.research.google.com/github/Vishal-Dhoriya/woc5.0-ml-weather-prediction-case-study-Vishal/blob/main/WOC_Checkpoint_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [106]:
import pandas as pd

In [107]:
yt = pd.read_csv('/content/Youtube Influencer Analysis - Updated (1).csv',encoding ='cp1252')

In [108]:
yt

,Video Link,Video Views,Video Title,Channel URL,Creator Name,Creator Gender,Total Channel Subcribers,Total Chanel Views,Duration of Video,Duration in Seconds,...,Video Description,Hashtags,No of Comments,Date of the Last Comment,Maximum Quality of the Video,No of Videos the Channel,No of Playlist,Premiered or Not,Community Engagement (Posts per week),Intern Who Collected the Data
0,https://www.youtube.com/watch?v=_0fUOJ55gis,"146,059",Samse - Didupe Off-road Royal Enfield Himalayan,https://www.youtube.com/c/sriharick,srihari ck,Male,40200,7964284,00:30:41,"1,841.00",...,Yes,0,419,8/6/2022,1080,462,12.0,No,1,Akhil Teja
1,https://www.youtube.com/watch?v=_70MSLPRfZI,"231,969",Bhoom Baddhal Web Series,https://www.youtube.com/c/ChaibisketTelugu,Chai Bisket,Male,920000,137535681,00:14:24,864.00,...,Yes,1,189,6/15/2022,1080,251,12.0,Yes,2,Akhil Teja
2,https://www.youtube.com/watch?v=_8gfCdt3H00&t=87s,878,"Customer Psychology, Four Views Of Consumer De...",https://www.youtube.com/channel/UCcIUnCsBfONvb...,Virda Warsi,Female,458,72945,0:08:12,492.00,...,Yes,0,0,NaN,720,158,0.0,No,0,Syed safdar
3,https://www.youtube.com/watch?v=_CkFNJgKsFs,"9,965",Top countries with proven natural gas reserves,https://www.youtube.com/c/trtworld,TRT,NaN,1680000,541653219,0:01:06,66.00,...,Yes,0,77,9/22/2022,1080,46509,48.0,No,20,Syed safdar
4,https://www.youtube.com/watch?v=_GFkHA5EZdE,"39,780,561",73 Questions With Selena Gomez,Vogue - YouTube,Vogue,NaN,12100000,3600496171,0:07:40,460.00,...,Yes,0,28221,9/23/2022,1080,2872,113.0,No,1,Rahul Singh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900,https://www.youtube.com/watch?v=GS18WawA-t0,"6,892",Calming mashup of Islamic Nasheed 2022 | Isami...,https://www.youtube.com/c/SahilOnlineTVnews,Sahil Online TV News,NaN,594000,129926690,00:13:47,827.00,...,Yes,0,15,10/4/2022,1080,5024,36.0,No,1,Mafaz Ali
901,https://www.youtube.com/watch?v=_tc_APkjH2Q,"16,554",Amchi Nawayat Mehfil hee,https://www.youtube.com/sahilonline,Sahil Online TV News,NaN,594000,129926690,00:06:44,404.00,...,Yes,2,0,10/4/2022,720,5024,36.0,No,1,Mafaz Ali
902,https://www.youtube.com/watch?v=Xfj4osSYfhU,"32,798",Aas ge Kaagaz,https://www.youtube.com/sahilonline,Sahil Online Bhatkal,NaN,23500,5104872,00:06:24,384.00,...,Yes,3,0,8/4/2022,720,1018,13.0,No,1,Mafaz Ali
903,https://www.youtube.com/watch?v=mGEHqwVz0eI,"1,503",Anjuman Tarana by ABHS Students | Anjuman Anju...,https://www.youtube.com/sahilonline,Sahil Online Bhatkal,NaN,23500,5104872,00:04:39,279.00,...,Yes,3,0,8/4/2022,1080,1018,13.0,No,1,Mafaz Ali
904,https://www.youtube.com/watch?v=UGATpt0I4vA,"429,966",Jhulan Goswami Final Over in ODIs | ENG vs IND...,https://www.youtube.com/c/SonySportsNetwork,Sony Sports Network,NaN,3980000,728858923,00:01:21,81.00,...,Yes,3,0,10/4/2022,1080,3014,124.0,No,0,Mafaz Ali

In [109]:
yt.isnull().sum()

Video Link                                 0
Video Views                                0
Video Title                                0
Channel URL                                0
Creator Name                              11
Creator Gender                           314
Total Channel Subcribers                   0
Total Chanel Views                         0
Duration of Video                          0
Duration in Seconds                        0
Date of Video Upload                       0
No of Likes                                1
Language of the Video                     21
Subtitle                                   1
Video Description                          0
Hashtags                                   0
No of Comments                             0
Date of the Last Comment                  24
Maximum Quality of the Video               0
No of Videos the Channel                   0
No of Playlist                             9
Premiered or Not                           0
Community Engagement (Posts per week)      0
Intern Who Collected the Data              0
dtype: int64

In [110]:
yt.dropna()

,Video Link,Video Views,Video Title,Channel URL,Creator Name,Creator Gender,Total Channel Subcribers,Total Chanel Views,Duration of Video,Duration in Seconds,...,Video Description,Hashtags,No of Comments,Date of the Last Comment,Maximum Quality of the Video,No of Videos the Channel,No of Playlist,Premiered or Not,Community Engagement (Posts per week),Intern Who Collected the Data
0,https://www.youtube.com/watch?v=_0fUOJ55gis,"146,059",Samse - Didupe Off-road Royal Enfield Himalayan,https://www.youtube.com/c/sriharick,srihari ck,Male,40200,7964284,00:30:41,"1,841.00",...,Yes,0,419,8/6/2022,1080,462,12.0,No,1,Akhil Teja
1,https://www.youtube.com/watch?v=_70MSLPRfZI,"231,969",Bhoom Baddhal Web Series,https://www.youtube.com/c/ChaibisketTelugu,Chai Bisket,Male,920000,137535681,00:14:24,864.00,...,Yes,1,189,6/15/2022,1080,251,12.0,Yes,2,Akhil Teja
5,https://www.youtube.com/watch?v=_HwPGXsklyY,"257,334",HERO - Baananchige Oduva Baara,https://www.youtube.com/c/RishabShettyFilms,Rishab Shetty Films,Male,382000,154898226,00:06:01,361.00,...,Yes,1,387,4/24/2021,2160,94,14.0,No,0,Akhil Teja
10,https://www.youtube.com/watch?v=0BBROgyHlFE,"5,599,742",ROUNDER GLUTES: 5 Mistakes Keeping Your Butt Flat,https://www.youtube.com/c/JeremyEthier,Jeremy Ethier,Male,4690000,511124108,00:09:43,583.00,...,Yes,0,1558,21-09-2022,1080,216,8.0,No,0,prateek
11,https://www.youtube.com/watch?v=0HheRYQ9ass,"25,052",The BEST Mockups You Will Find Online!,Satori Graphics - YouTube,Satori,Male,999000,58048539,0:05:51,351.00,...,Yes,0,70,9/1/2022,1080,918,76.0,No,2,Rahul Singh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
892,https://www.youtube.com/watch?v=3RMKX4Zzw68,"75,789",Tuzo Mog Maka Zala by Prajoth D'sa (Official L...,https://www.youtube.com/channel/UCzJU55wSd6YUh...,Prajoth D'sa,Male,8560,764691,00:04:31,271.00,...,Yes,0,29,9/20/2022,1080,27,14.0,No,1,Mafaz Ali
893,https://www.youtube.com/watch?v=kqQTNKotVYk,"1,640",NAACH [Konkani EDM] by Prajoth D'sa & Rosh Fer...,https://www.youtube.com/channel/UCzJU55wSd6YUh...,Prajoth D'sa,Male,8560,764691,00:02:45,165.00,...,Yes,0,59,9/20/2022,1080,27,14.0,No,1,Mafaz Ali
894,https://www.youtube.com/watch?v=DQFbTVntxxg,"491,854",Tunturu Alli Neera Haadu | Ankita Kundu | Cove...,https://www.youtube.com/c/AnkitaKunduofficial,Ankita Kundu,Female,84900,11663152,00:04:06,246.00,...,Yes,0,495,9/26/2022,1080,48,5.0,Yes,0,Mafaz Ali
895,https://www.youtube.com/watch?v=PGgtx0E-Jws,"268,142",O Meghave - (Cover) By Ankita Kundu,https://www.youtube.com/c/AnkitaKunduofficial,Ankita Kundu,Female,84900,11663152,00:05:07,307.00,...,Yes,3,325,10/1/2022,1080,48,5.0,Yes,0,Mafaz Ali
896,https://www.youtube.com/watch?v=tL-zKAkfFaw,"1,378,946",EE Sundara Beladingala | Cover | Ankita Kundu,https://www.youtube.com/c/AnkitaKunduofficial,Ankita Kundu,Female,84900,11663152,00:04:33,273.00,...,Yes,2,824,10/4/2022,1080,48,5.0,Yes,0,Mafaz Ali

In [111]:
yt.fillna(value = 0)

,Video Link,Video Views,Video Title,Channel URL,Creator Name,Creator Gender,Total Channel Subcribers,Total Chanel Views,Duration of Video,Duration in Seconds,...,Video Description,Hashtags,No of Comments,Date of the Last Comment,Maximum Quality of the Video,No of Videos the Channel,No of Playlist,Premiered or Not,Community Engagement (Posts per week),Intern Who Collected the Data
0,https://www.youtube.com/watch?v=_0fUOJ55gis,"146,059",Samse - Didupe Off-road Royal Enfield Himalayan,https://www.youtube.com/c/sriharick,srihari ck,Male,40200,7964284,00:30:41,"1,841.00",...,Yes,0,419,8/6/2022,1080,462,12.0,No,1,Akhil Teja
1,https://www.youtube.com/watch?v=_70MSLPRfZI,"231,969",Bhoom Baddhal Web Series,https://www.youtube.com/c/ChaibisketTelugu,Chai Bisket,Male,920000,137535681,00:14:24,864.00,...,Yes,1,189,6/15/2022,1080,251,12.0,Yes,2,Akhil Teja
2,https://www.youtube.com/watch?v=_8gfCdt3H00&t=87s,878,"Customer Psychology, Four Views Of Consumer De...",https://www.youtube.com/channel/UCcIUnCsBfONvb...,Virda Warsi,Female,458,72945,0:08:12,492.00,...,Yes,0,0,0,720,158,0.0,No,0,Syed safdar
3,https://www.youtube.com/watch?v=_CkFNJgKsFs,"9,965",Top countries with proven natural gas reserves,https://www.youtube.com/c/trtworld,TRT,0,1680000,541653219,0:01:06,66.00,...,Yes,0,77,9/22/2022,1080,46509,48.0,No,20,Syed safdar
4,https://www.youtube.com/watch?v=_GFkHA5EZdE,"39,780,561",73 Questions With Selena Gomez,Vogue - YouTube,Vogue,0,12100000,3600496171,0:07:40,460.00,...,Yes,0,28221,9/23/2022,1080,2872,113.0,No,1,Rahul Singh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900,https://www.youtube.com/watch?v=GS18WawA-t0,"6,892",Calming mashup of Islamic Nasheed 2022 | Isami...,https://www.youtube.com/c/SahilOnlineTVnews,Sahil Online TV News,0,594000,129926690,00:13:47,827.00,...,Yes,0,15,10/4/2022,1080,5024,36.0,No,1,Mafaz Ali
901,https://www.youtube.com/watch?v=_tc_APkjH2Q,"16,554",Amchi Nawayat Mehfil hee,https://www.youtube.com/sahilonline,Sahil Online TV News,0,594000,129926690,00:06:44,404.00,...,Yes,2,0,10/4/2022,720,5024,36.0,No,1,Mafaz Ali
902,https://www.youtube.com/watch?v=Xfj4osSYfhU,"32,798",Aas ge Kaagaz,https://www.youtube.com/sahilonline,Sahil Online Bhatkal,0,23500,5104872,00:06:24,384.00,...,Yes,3,0,8/4/2022,720,1018,13.0,No,1,Mafaz Ali
903,https://www.youtube.com/watch?v=mGEHqwVz0eI,"1,503",Anjuman Tarana by ABHS Students | Anjuman Anju...,https://www.youtube.com/sahilonline,Sahil Online Bhatkal,0,23500,5104872,00:04:39,279.00,...,Yes,3,0,8/4/2022,1080,1018,13.0,No,1,Mafaz Ali
904,https://www.youtube.com/watch?v=UGATpt0I4vA,"429,966",Jhulan Goswami Final Over in ODIs | ENG vs IND...,https://www.youtube.com/c/SonySportsNetwork,Sony Sports Network,0,3980000,728858923,00:01:21,81.00,...,Yes,3,0,10/4/2022,1080,3014,124.0,No,0,Mafaz Ali

In [112]:
ytt = yt.drop(["Video Link","Video Title","Premiered or Not","Date of the Last Comment","Video Description","Duration of Video","Subtitle","Maximum Quality of the Video","Creator Name","Channel URL","Intern Who Collected the Data"],axis = 1)
r= ytt.rename(columns={'Creator Gender': 'Gender','Language of the Video': 'Language'})

In [113]:
r

,Video Views,Gender,Total Channel Subcribers,Total Chanel Views,Duration in Seconds,Date of Video Upload,No of Likes,Language,Hashtags,No of Comments,No of Videos the Channel,No of Playlist,Community Engagement (Posts per week)
0,"146,059",Male,40200,7964284,"1,841.00",7/29/2022,6700.0,Kannada,0,419,462,12.0,1
1,"231,969",Male,920000,137535681,864.00,5/22/2022,7800.0,Telugu,1,189,251,12.0,2
2,878,Female,458,72945,492.00,2/9/2021,858.0,Hindi,0,0,158,0.0,0
3,"9,965",NaN,1680000,541653219,66.00,9/13/2022,188.0,English,0,77,46509,48.0,20
4,"39,780,561",NaN,12100000,3600496171,460.00,3/21/2017,901000.0,English,0,28221,2872,113.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
900,"6,892",NaN,594000,129926690,827.00,9/29/2022,235.0,Urdu + Arabic,0,15,5024,36.0,1
901,"16,554",NaN,594000,129926690,404.00,8/6/2017,117.0,Nawayathi,2,0,5024,36.0,1
902,"32,798",NaN,23500,5104872,384.00,1/3/2021,1.0,Nawayathi,3,0,1018,13.0,1
903,"1,503",NaN,23500,5104872,279.00,3/6/2022,1.0,Urdu,3,0,1018,13.0,1
904,"429,966",NaN,3980000,728858923,81.00,9/25/2022,7600.0,English,3,0,3014,124.0,0

In [114]:
dummies = pd.get_dummies(r.Gender)
dummies.head()

   Company  Female  Male
0        0       0     1
1        0       0     1
2        0       1     0
3        0       0     0
4        0       0     0

In [115]:
r = pd.concat([r,dummies],axis='columns')
r.head()

,Video Views,Gender,Total Channel Subcribers,Total Chanel Views,Duration in Seconds,Date of Video Upload,No of Likes,Language,Hashtags,No of Comments,No of Videos the Channel,No of Playlist,Community Engagement (Posts per week),Company,Female,Male
0,"146,059",Male,40200,7964284,"1,841.00",7/29/2022,6700.0,Kannada,0,419,462,12.0,1,0,0,1
1,"231,969",Male,920000,137535681,864.00,5/22/2022,7800.0,Telugu,1,189,251,12.0,2,0,0,1
2,878,Female,458,72945,492.00,2/9/2021,858.0,Hindi,0,0,158,0.0,0,0,1,0
3,"9,965",NaN,1680000,541653219,66.00,9/13/2022,188.0,English,0,77,46509,48.0,20,0,0,0
4,"39,780,561",NaN,12100000,3600496171,460.00,3/21/2017,901000.0,English,0,28221,2872,113.0,1,0,0,0

In [116]:
r.Language.value_counts()

English            542
Hindi              183
Tamil               55
Telugu              31
Malayalam           24
Kannada             22
Sanskrit             5
Japenese             3
Urdu                 3
Hindi/English        3
Urdu + Arabic        2
Konkani              2
English + Hindi      2
Nawayathi            2
Italian              1
Russian              1
Arabic               1
Punjabi              1
Mongalian            1
Name: Language, dtype: int64

In [117]:
dummies = pd.get_dummies(r.Language)
dummies.head()

,Arabic,English,English + Hindi,Hindi,Hindi/English,Italian,Japenese,Kannada,Konkani,Malayalam,Mongalian,Nawayathi,Punjabi,Russian,Sanskrit,Tamil,Telugu,Urdu,Urdu + Arabic
0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [118]:
r = pd.concat([r,dummies],axis='columns')
r.head()

,Video Views,Gender,Total Channel Subcribers,Total Chanel Views,Duration in Seconds,Date of Video Upload,No of Likes,Language,Hashtags,No of Comments,...,Malayalam,Mongalian,Nawayathi,Punjabi,Russian,Sanskrit,Tamil,Telugu,Urdu,Urdu + Arabic
0,"146,059",Male,40200,7964284,"1,841.00",7/29/2022,6700.0,Kannada,0,419,...,0,0,0,0,0,0,0,0,0,0
1,"231,969",Male,920000,137535681,864.00,5/22/2022,7800.0,Telugu,1,189,...,0,0,0,0,0,0,0,1,0,0
2,878,Female,458,72945,492.00,2/9/2021,858.0,Hindi,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"9,965",NaN,1680000,541653219,66.00,9/13/2022,188.0,English,0,77,...,0,0,0,0,0,0,0,0,0,0
4,"39,780,561",NaN,12100000,3600496171,460.00,3/21/2017,901000.0,English,0,28221,...,0,0,0,0,0,0,0,0,0,0

In [119]:
g = r.Sanskrit + r.Japenese + r.Urdu +  r.Konkani  + r.Italian+ r.Nawayathi + r.Russian + r.Arabic+r.Punjabi +r.Mongalian

In [120]:
r = pd.concat([r,g],axis='columns')
r.head()

,Video Views,Gender,Total Channel Subcribers,Total Chanel Views,Duration in Seconds,Date of Video Upload,No of Likes,Language,Hashtags,No of Comments,...,Mongalian,Nawayathi,Punjabi,Russian,Sanskrit,Tamil,Telugu,Urdu,Urdu + Arabic,0
0,"146,059",Male,40200,7964284,"1,841.00",7/29/2022,6700.0,Kannada,0,419,...,0,0,0,0,0,0,0,0,0,0
1,"231,969",Male,920000,137535681,864.00,5/22/2022,7800.0,Telugu,1,189,...,0,0,0,0,0,0,1,0,0,0
2,878,Female,458,72945,492.00,2/9/2021,858.0,Hindi,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"9,965",NaN,1680000,541653219,66.00,9/13/2022,188.0,English,0,77,...,0,0,0,0,0,0,0,0,0,0
4,"39,780,561",NaN,12100000,3600496171,460.00,3/21/2017,901000.0,English,0,28221,...,0,0,0,0,0,0,0,0,0,0

Warning: Total number of columns (36) exceeds max_columns (20) limiting to first (20) columns.

In [128]:
f = r.drop(["Gender","Language","Company","Sanskrit","Italian","Japenese","Urdu","No of Playlist","Date of Video Upload","Konkani","Nawayathi","Russian","Arabic","Punjabi","Mongalian"],axis=1)

In [129]:
f

,Video Views,Total Channel Subcribers,Total Chanel Views,Duration in Seconds,No of Likes,Hashtags,No of Comments,No of Videos the Channel,Community Engagement (Posts per week),Female,...,English,English + Hindi,Hindi,Hindi/English,Kannada,Malayalam,Tamil,Telugu,Urdu + Arabic,0
0,"146,059",40200,7964284,"1,841.00",6700.0,0,419,462,1,0,...,0,0,0,0,1,0,0,0,0,0
1,"231,969",920000,137535681,864.00,7800.0,1,189,251,2,0,...,0,0,0,0,0,0,0,1,0,0
2,878,458,72945,492.00,858.0,0,0,158,0,1,...,0,0,1,0,0,0,0,0,0,0
3,"9,965",1680000,541653219,66.00,188.0,0,77,46509,20,0,...,1,0,0,0,0,0,0,0,0,0
4,"39,780,561",12100000,3600496171,460.00,901000.0,0,28221,2872,1,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900,"6,892",594000,129926690,827.00,235.0,0,15,5024,1,0,...,0,0,0,0,0,0,0,0,1,0
901,"16,554",594000,129926690,404.00,117.0,2,0,5024,1,0,...,0,0,0,0,0,0,0,0,0,1
902,"32,798",23500,5104872,384.00,1.0,3,0,1018,1,0,...,0,0,0,0,0,0,0,0,0,1
903,"1,503",23500,5104872,279.00,1.0,3,0,1018,1,0,...,0,0,0,0,0,0,0,0,0,1
904,"429,966",3980000,728858923,81.00,7600.0,3,0,3014,0,0,...,1,0,0,0,0,0,0,0,0,0

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.